<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/welcome_style.css" />
    <title>Crypto Dashboard</title>
  </head>
  <body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Welcome to Binance Dashboard!</h3>
        <form action="/binance" method="post">
            <div class="inputBox"> <input id="uname" type="password" name="Api_Key" placeholder="Api_Key"> <input id="pass" type="password" name="Api_Secret" placeholder="Api_Secret"> </div> <input type="submit" name="" value="Login">
        </form>

    </div>
